/*
* @Title: Framework - Mixins
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by: Helene M.
 * @Last Modified time: 2017-06-01 15:52:09
 */


//== MIXIN: BREAKPOINT
@mixin breakpoint($minmax, $breakpoint) {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @if $minmax == "min" {
        @media (min-width: $value) {
          @content;
        }
    }
    @else if $minmax == "max" {
        @media (max-width: ($value - 1px)) {
            @content;
        }
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}


//== KEYFRAMES MIXIN
@mixin keyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }
    @-moz-keyframes #{$animation_name} {
        @content;
    }
    @-o-keyframes #{$animation_name} {
        @content;
    }
    @keyframes #{$animation_name} {
        @content;
    }
}

//== ANIMATIONS MIXIN
@mixin animation ($delay, $duration, $animation, $iteration: 1, $forwards: forwards) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-iteration-count: $iteration;
    -webkit-animation-fill-mode: $forwards;
    
    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -webkit-animation-iteration-count: $iteration;
    -moz-animation-fill-mode: $forwards;

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-iteration-count: $iteration;
    -o-animation-fill-mode: $forwards;

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-iteration-count: $iteration;
    animation-fill-mode: $forwards;
}