/*
* @Title: Utilities
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by:   helen
 * @Last Modified time: 2017-05-11 14:34:06
 */


//== SPACING

//-- SPACING RESET
//-- Resets the margin and padding

%spacing-reset                                               { margin: 0; padding: 0; }


//== LISTS

//-- LIST RESET
//-- Resets the list style and default margin and padding

%list-reset  												{ margin: 0; padding: 0; background: transparent; list-style: none; }