/* Global/Shared
 * @Author: Helene M. 
 * @Date: 2017-05-31 12:14:58 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2017-11-10 10:10:56
 */


/* LAYOUT
-------------------------------------------------------------- */

html {
  @include typi-base();
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: $color-muted;
  color: $color-body;
  font-family: $font-family-primary;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  @include breakpoint(min, phablet) {}
}

%wrapper {
  position: relative;
  width: 100%;
}

%inner {
  max-width: $inner-max-width;
  width: 100%;
  margin: 0 auto;
  @include breakpoint(max, tablet) {
    padding: 0 $spacing;
  }
  @include breakpoint(min, tablet) {
    padding: 0 $spacing*2.5;
  }
  @include breakpoint(min, desktop-large) {
    padding: 0;
  }
}

.inner {
  @extend %inner;
}

.inner--small {
  max-width: em(860);
  @include breakpoint(min, laptop) {
    padding: 0;
  }
}

.inner--medium {
  max-width: em(1015);
  @include breakpoint(min, laptop) {
    padding: 0;
  }
}

.inner--large {
  max-width: 1280px;
}

.inner--widget {
  @extend %clearfix;
  padding: 0;
}

.center {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}


/* OBJECTS
-------------------------------------------------------------- */

img {
  max-width: 100%;
  height: auto !important;
}

a {
  color: $color-link;
  text-decoration: none;
  outline: none;
}

a:hover {
  transition: $transition-default;
}

p {
  margin: 0 0 1em 0;
  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: disc;
}


/* UTILS
-------------------------------------------------------------- */
.is-loading {
  position: absolute; 
  z-index: 98;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: url('images/icons/loading.svg') no-repeat center center $color-white;
  opacity: 1;
  text-indent: -500%;
  overflow: hidden;
  background-size: auto;
}

*[class*=is-hidden] {
    display: none;
}

.has-white-bg {
  background: $color-white;
  border-top: 1px solid darken($color-muted, 3%);
  border-bottom: 1px solid darken($color-muted, 3%);
}

.has-light-grey-bg {
  background: $color-muted;
}

.is-main {
  color: $color-main;
}

.is-accent {
  color: $color-accent;
}

.section {
  @extend %clearfix;
  padding: $spacing 0;
  &__title {
    text-align: center;
  }
  @include breakpoint(min, tablet) {
    padding: $spacing*2 0;
  }
  @include breakpoint(min, laptop) {
    padding: $spacing*3.5 0;
  }
}

.section--one-column {
  width: 100%;
}


.section--two-column {}

.section--three-column {}

.section--four-column {}