/*
* @Title: Site - Animations
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by: Helene M.
 * @Last Modified time: 2017-10-05 17:29:01
 */

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translate(0, -200%) scale(1, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0.7;
    transform: translate(0, -200%);
  }
}

@keyframes rotate180 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fading {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadingOut {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}


@keyframes collapse {
  0% {
    max-height: calc(100% - #{$spacing});
    height: auto;
  }
  100% {
    max-height: 0;
    height: 0;
  }
}


@keyframes expand {
  0% {
    max-height: 0;
    height: 0;
  }
  100% {
    max-height: calc(100% - #{$spacing});
    height: auto;
  }
}