/*
 * @Title: Site - Fonts
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by: Helene M.
 * @Last Modified time: 2017-11-09 12:28:41
 */

/* Google Fonts
-------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext');

/* Font-awesome
-------------------------------------------------------------- */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Chaparral Pro
-------------------------------------------------------------- */
// @font-face {
//   font-family: "Chaparral Pro";
//   src: url(assets("../../styles/fonts/chaparral_pro/chaparralpro-regular.eot"));
//   src: url(assets("../../styles/fonts/chaparral_pro/chaparralpro-regular.eot#iefix")) format("embedded-opentype"),
//        url(assets("../../styles/fonts/chaparral_pro/chaparralpro-regular.woff")) format("woff"),
//        url(assets("../../styles/fonts/chaparral_pro/chaparralpro-regular.ttf")) format("truetype"),
//        url(assets("../../styles/fonts/chaparral_pro/chaparralpro-regular.svg#ChaparralPro")) format("svg");
//   font-weight: normal;
// }
// @font-face {
//   font-family: "Chaparral Pro";
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-light.eot"));
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-light.eot#iefix")) format("embedded-opentype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-light.woff")) format("woff"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-light.ttf")) format("truetype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-light.svg#ChaparralProLight")) format("svg");
//   font-weight: 200;
// }
// @font-face {
//   font-family: "Chaparral Pro";
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-semibold.eot"));
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-semibold.eot#iefix")) format("embedded-opentype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-semibold.woff")) format("woff"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-semibold.ttf")) format("truetype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-semibold.svg#ChaparralProSemiBold")) format("svg");
//   font-weight: 600;
// }
// @font-face {
//   font-family: "Chaparral Pro";
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-bold.eot"));
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-bold.eot#iefix")) format("embedded-opentype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-bold.woff")) format("woff"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-bold.ttf")) format("truetype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-bold.svg#ChaparralProBold")) format("svg");
//   font-weight: bold;
// }
// @font-face {
//   font-family: "Chaparral Pro";
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-italic.eot"));
//   src: url(assets("styles/fonts/chaparral_pro/chaparralpro-italic.eot#iefix")) format("embedded-opentype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-italic.woff")) format("woff"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-italic.ttf")) format("truetype"),
//        url(assets("styles/fonts/chaparral_pro/chaparralpro-italic.svg#ChaparralProItalic")) format("svg");
//   font-style: italic;
// }

/*$font-path: "../fonts/chapparal_pro";
$font-name:  "Chaparral Pro"

@include font-face("../fonts/chapparal_pro", "Chaparral Pro", "regular");
@include font-face("../fonts/chapparal_pro", "Chaparral Pro", "200");
@include font-face("../fonts/chapparal_pro", "Chaparral Pro", "600");
@include font-face("../fonts/chapparal_pro", "Chaparral Pro", "normal");*/