/* @Title: Core - Icons
 * @Author: Helene M. 
 * @Date: 2017-06-01 17:18:39 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2017-11-09 11:42:17
 */

.ico {
    vertical-align: middle;
    &::before {
        display: inline-block;
        vertical-align: middle;
        font-family: $font-family-icons;
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: contain;
        line-height: 1;
        color: $color-main;
    }
}

.ico--small::before {
    font-size: 16px;
    width: 18px;
    height: 15px;
}

.ico--medium::before {
    font-size: 18px;
    width: 23px;
    height: 18px;
}

.ico--big::before {
    font-size: 12px;
    width: 27px;
    height: 22px;
}

.ico--bed::before {
    content: "\f236";
}

.ico--bath::before {
    content: "\f2cd";
}

.ico--building::before {
    content: "\f1ad";
}

.ico--pound::before {
    content: "\f154";
}

/*background-image: url(#{$image-directory}icons/building.png);*/

.ico--pin::before {
    content: "\f041";
}

// .ico--sofa::before {
//     content: "";
//     background-image: url(#{$image-directory}icons/sofa.png);
// }

// .ico--tree::before {
//     content: "";
//     background-image: url(#{$image-directory}icons/tree.png);
// }

// .ico--car::before {
//     content: "";
//     background-image: url(#{$image-directory}icons/car.png);
// }

// .ico--scroll::before {
//     content: "";
//     background-image: url(#{$image-directory}icons/scroll.png);
// }

.social__icons {
    @extend %list-reset;
    $social-icons-list: ( facebook: (content: "\f09a", color: $color-social-facebook), twitter: (content: "\f099", color: $color-social-twitter), google: (content: "\f0d5", color: $color-social-google), linkedin: (content: "\f0e1", color: $color-social-linkedin), instagram: (content: "\f16d", color: $color-social-instagram), youtube: (content: "\f167", color: $color-social-youtube), pinterest: (content: "\f0d2", color: $color-social-pinterest), mailto: (content: "\f0e0", color: $color-social-email), search: (content: "\f002", color: $color-social-search));
    li {
        display: inline-block;
        margin: 0 $spacing/4;
        a {
            position: relative;
            display: block;
            height: em(30);
            width: em(30);
            line-height: em(32);
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            border-radius: 100%;
            //background: $color-black;
            font-size: 1.2em;
            &::before {
                color: $color-white;
                content: "";
                text-indent: 0;
                font-family: $font-family-icons;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
            }
            @each $social,
            $icon in $social-icons-list {
                &[href*="#{$social}"]::before {
                    content: map-get($icon, content);
                    background: map-get($icon, color);
                }
            } //-- Specific
            &[href*=instagram]::before {
                background-color: $color-social-instagram;
                background: 
                // left bottom
                radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), // left topF
                radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), //  right top
                radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), // right bottom
                radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
                /////// corner gradienFts
                linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
            }
            &:hover::before {
                background: $color-accent;
                transition: $transition-fast;
            }
        }
    }
}

// .ico                                  { 
//     &::before                         { content: ""; display: inline-block; width: 20px; height: 23px; vertical-align: middle; background-image: url(#{$image-directory}icons/icons.png); background-repeat: no-repeat; background-position: 0 center; background-size: contain; line-height: 1; }
// }
// .ico--small::before                   { width: 18px; height: 23px; }
// .ico--medium::before                  { width: 20px; height: 23px; }
// .ico--big::before                     { width: 28px; height: 36px; }
// .ico--bed::before                     { background-position: 0 -892px; }
// .ico--bath::before                    { background-position: 0 -868px; }
// .ico--sofa::before                    { background-position: 0 -916px; }
// .ico--building::before                { background-position: 0 -940px; }

/*from agency */


/*&.ico-resize { background-size: contain }
  &.ico-100 { background-size: 100% auto }  
  &.calculator { width: 28px; height: 36px; background-image: url(cdn("icons/calculator.svg")) }
  &.chevron-right { width: 16px; height: 31px; background-image: url(cdn("icons/chevron-right.svg")) }
  &.chevron-down { width: 19px; height: 11px; background-image: url(cdn("icons/chevron-down.svg")); }
  &.chevron-right-black { width: 16px; height: 31px; background-image: url(cdn("icons/chevron-right.0a0017.svg")) }
  &.chevron-right-blue { width: 16px; height: 31px; background-image: url(cdn("icons/chevron-right.85b1d7.svg")) }
  &.user { width: 10px; height: 10px; background-image: url(cdn("icons/user.svg")) }
  &.phone-solid { width: 13px; height: 13px; background-image: url(cdn("icons/phone-solid.svg")) }
  &.mobile-nav { width: 35px; height: 24px; background-image: url(cdn("icons/mobile-nav.svg")) }
  &.close { width: 15px; height: 15px; background-image: url(cdn("icons/close.svg")) }
  &.close-blue { width: 15px; height: 15px; background-image: url(cdn("icons/close.438bc7.svg")) }
  &.housemag-blue { width: 27px; height: 23px; background-image: url(cdn("icons/housemag.377eb8.svg")) }
  &.housemag-black { width: 27px; height: 23px; background-image: url(cdn("icons/housemag.0a0017.svg")) }
  &.tp-star { width: 29px; height: 29px; background-image: url(cdn("icons/tp-star.svg")) }
  &.tick { width: 22px; height: 22px; background-image: url(cdn("icons/tick.svg")); background-size: contain }
  &.cross { width: 22px; height: 22px; background-image: url(cdn("icons/cross.svg")); background-size: contain }
  &.info { width: 17px; height: 17px; background-image: url(cdn("icons/info.png")); background-size: contain }
  &.info-black { width: 17px; height: 15px; background-image: url(cdn("icons/info-black.svg")); background-size: contain }
  &.folder-open { width: 27px; height: 22px; background-image: url(cdn("icons/folder-open.svg")); background-size: contain }
  &.tag { width: 19px; height: 19px; background-image: url(cdn("icons/tag.svg")); background-size: contain }
  &.arrow-left { width: 14px; height: 10px; background-image: url(cdn("icons/arrow-left.svg")); background-size: contain }
  &.arrow-right { width: 14px; height: 10px; background-image: url(cdn("icons/arrow-right.svg")); background-size: contain }
  &.search { width: 21px; height: 21px; background-image: url(cdn("icons/search.svg")); background-size: contain }
  &.calendar { width: 15px; height: 15px; background-image: url(cdn("icons/calendar.png")); background-size: contain }
  &.upload { width: 17px; height: 17px; margin-right: 6px;  background-image: url(cdn("icons/upload.svg")); background-size: 100% auto; position: relative; top: 3px }
  &.play {
    width: 12px; height: 14px; background-image: url(cdn("icons/play.svg"));
    &.large-yellow {
      width: 70px;
      height: 70px;
   
      background-position: 50% 50%;
      border-radius: 50%;
      left: 0;
      top: 0;
      position: absolute
    }
  }*/