/*
 * @Version: 1-0-0
 * @Author: HMalespine
 * @Date:   2016-12-06 11:32:22
 * @Last Modified by:   HMalespine
 * @Last Modified time: 2017-04-25 14:57:35
 */



/*	Example
	
	%center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	} 

	Then:
	.container {
	 	@extend %center;
	}

*/