/*
 * @Title: Site - Variables
 * @Version: 1-0-0
 * @Author: Helene M. 
 * @Date: 2017-06-01 15:35:51 
 * @Last Modified by: Helene M.
 * @Last Modified time: 2017-10-19 12:23:59
 */



//== PATHS
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$image-directory:						'images/'; // Example: background-image: url(#{$image-directory}image.png);


//== COLOURS
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

//-- COLOUR PALETTE

$color-white:							  #FFFFFF;
$color-black:							  #0a0017;
$color-grey-1: 							#F8F8F8; // very light grey (section backgrounds)
$color-grey-2: 							#E1E1E1; // light grey (borders)
$color-grey-3: 							#b3b3b3; // Placeholder
$color-grey-4:              #63717D; // primary nav hover, hovered field border, darker backgrounds
$color-blue: 							  #3F8AC9;
$color-yellow: 							#FFCB05; 


//-- MAIN, ACCENT AND MUTED

$color-main:							  $color-blue; // Variations: darken 5%, 28%
$color-accent:							$color-yellow; // Variations: darken 5%, 

$color-muted: 						  $color-grey-1; // Variations: darken 10%,
$color-muted-medium: 				$color-grey-2;
$color-muted-medium-darker: $color-grey-3;
$color-muted-dark: 					$color-grey-4;

//-- BODY AND LINKS

$color-body:							  $color-black;
$color-body-alt:					  $color-grey-3;
$color-link:							  $color-main;
$color-link-hover:					darken($color-link, 20%);


//-- NOTIFICATIONS AND BADGES

$color-danger:							#CD3A53;
$color-warning:							#FFD51D;
$color-success:							#92D06C;

//-- HOVER EFFECT => APPLY DARKEN 10%

// hyperlinks
// text
$text-muted-color:             			#999999;
// text selection
$text-selection-background:     		#328efe !default;
$text-selection-color:          		#ffffff !default;
// placeholders
$placeholder-color:             		#999999;


//-- SOCIAL ICONS
$color-social-facebook: 				  #3B5998;
$color-social-twitter: 				    #70A7F3;
$color-social-google: 				    #DD4B39;
$color-social-linkedin: 				  #007BB6;
$color-social-instagram: 			    #517FA4;
$color-social-youtube: 				    #BB0000;
$color-social-pinterest: 			    #CB2027;
$color-social-email: 				      $color-black;
$color-social-search: 				    $color-main;


//== TYPOGRAPHY
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

//--  FAMILIES

$font-family-primary:			      'Open Sans', Arial, Helvetica, sans-serif;
$font-family-secondary:		      'Chaparral Pro', serif;
$font-family-tertiary:		      'Arial', sans-serif;
$font-family-icons:             'FontAwesome';

$font-family-body:				    	$font-family-primary;
$font-family-h1:					    	$font-family-secondary;
$font-family-h2:					    	$font-family-secondary;
$font-family-h3:						    $font-family-secondary;
$font-family-h4:					    	$font-family-secondary;
$font-family-h5:					    	$font-family-secondary;


//--  TYPI, SCALE AND SIZES

$typi:									        (null: 14px, tablet: 14px, laptop: 14px, desktop: 14px);

$font-size-x-small-map:				  (null: (10px, 1.33), phablet: (11px, 1.33), tablet: (11px, 1.33), laptop: (12px, 1.5), desktop: (12px, 1.5));
$font-size-small-map:				  	(null: (12px, 1.33), phablet: (12px, 1.33), tablet: (12px, 1.33), laptop: (12px, 1.5), desktop: (12px, 1.5));
$font-size-normal-map:			  	(null: (14px, 1.33), phablet: (14px, 1.33),	tablet: (14px, 1.33), laptop: (14px, 1.5), desktop: (14px, 1.5));
$font-size-medium-map:			  	(null: (14px, 1.33), phablet: (14px, 1.33),	tablet: (14px, 1.33), laptop: (16px, 1.5), desktop: (16px, 1.5));
$font-size-large-map:				  	(null: (16px, 1.33), phablet: (18px, 1.33),	tablet: (18px, 1.33), laptop: (18px, 1.5), desktop: (18px, 1.2));
$font-size-x-large-map:			  	(null: (20px, 1.20), phablet: (22px, 1.20),	tablet: (22px, 1.33), laptop: (22px, 1.2), desktop: (24px, 1.2));
$font-size-xx-large-map:		  	(null: (22px, 1.20), phablet: (24px, 1.20),	tablet: (26px, 1.20), laptop: (30px, 1.2), desktop: (32px, 1.2));
$font-size-xxx-large-map:	  		(null: (30px, 1.20), phablet: (36px, 1.20), tablet: (36px, 1.33), laptop: (40px, 1.2), desktop: (42px, 1.33));
$font-size-ultra-large-map:	  	(null: (34px, 1.20), phablet: (36px, 1.20),	tablet: (52px, 1.20), laptop: (56px, 1.2), desktop: (60px, 1));

$font-size-body-map:				  	$font-size-normal-map;
$font-size-h1-map:				    	$font-size-ultra-large-map;
$font-size-h2-map:					  	$font-size-xxx-large-map;
$font-size-h3-map:				  		$font-size-xx-large-map;
$font-size-h4-map:				  		$font-size-x-large-map;
$font-size-h5-map:				  		$font-size-large-map;


//-- WEIGHTS

$font-weight-light:						  100;
$font-weight-regular:					  400;
$font-weight-medium:				  	600;
$font-weight-bold:					  	700;
$font-weight-heavy:					  	900;



//== LAYOUT
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$inner-max-width:               1160px;
$header-height:                 75px;
$breakpoints:                   (mobile-landscape: 480px, phablet: 600px, tablet: 768px, laptop: 1024px, desktop: 1280px, desktop-large: 1440px, desktop-x-large: 1600px);
$spacing:                       20px/(map-get($typi,laptop))*1rem;



//== DECORATION
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$border-radius: 					      2px;
$box-shadow:							      0 0px 10px rgba($color-black, 0.15);
$letter-spacing: 					    	1px;



//== TRANSITIONS
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

$transition-default: 				  	.5s ease-in;
$transition-fast: 					  	.25s ease-in;



//==  MEDIA QUERIES
//-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

// $breakpoint-mobile: 					320px;
// $breakpoint-mobile-landscape: 480px;
// $breakpoint-phablet: 					600px;
// $breakpoint-tablet: 					768px;
// $breakpoint-laptop: 					1024px;
// $breakpoint-desktop: 					1280px;
// $breakpoint-desktop-large: 		1440px;
// $breakpoint-desktop-x-large: 	1600px;

